:root {
    --white: #FBFBFB;
    --green: #1FAA91;
    --black: #041F1A;
    --gray: #E4E3E3;
    --light-gray: #F3F3F4;
    --dark-gray: #737171;
    --light-green: #E0F2EF; 
    --medium-gray:#ADADAD; 
}
body {
    font-family: 'Cabin', sans-serif;
    color: var(--black);
    
    background-color:var(--white);
    
}
/*general fonts*/
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1rem;
}

a {
    color: var(--green);
    text-decoration:none;
    text-align: center;
}

.current0 a {
    color:var(--white);
    list-style-type: none;
    text-align: center;
}

ul {
    margin: 0;
    padding: 0;
}
/*nav bar*/
.header {
    margin-right:10%;
    margin-left:10%;

}

.title {
    color: var(--black);
    float: left;
    
}

.accentText {
    color: var(--green);
}

.buttons {
    float: right;

}


.secondaryButton {
    background-color: var(--white);
    color: var(--green);
    text-align: center;
    border-radius: 10rem;
    padding-top: 0.8rem;
    width: 8rem;
    height: 2rem;
    border:0.15rem solid var(--green);
    
}

.primaryButton {
    background-color: var(--green);
    color: var(--white);
    text-align: center;
    padding-top: 0.8rem;
    border-radius: 10rem;
    width: 8rem;
    height:2rem;
    border:0.15rem solid var(--green);
  
}
.login {
    float:right;
    margin-left: 1rem;
    
}
.login a {
    color: var(--green);
}
.signup {
    float:left;
}


/*HOME*/
/*Hero Section*/
.hero {
    padding-top: 15%;
    padding-bottom: 8%;
    text-align:center;
}
.mainCTA {
    margin: auto;
    color:var(--white);
}

/*List of Headlines*/

.news {
    margin: 5% 20% 5% 20%;

}

.headlineCard {
    margin-bottom: 1%;
    border:0.15rem solid var(--light-gray);
    border-radius: 0.5rem;
    width: 80%;
    padding: 1rem 0 1rem 2rem;
 
}

.view {
    padding-top:200px;
    padding-left: 300px;
}

.text {
    font-family: Cabin;
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
}

.password-info {
    margin-right: 90px;
}

.login-info {
    margin-right: 120px;
}
#main-holder {
    width: 70%;
    padding-top: 60px;
    padding-bottom: 90px;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: white;
    box-shadow: 0px 0px 5px 2px var(--green);
  }
  
  #login-form {
    align-self: flex-start;
    display: grid;
    justify-items: center;
    align-items: center;
  }
  
  .login-form-field {
    border: none;
    border-bottom: 1px solid #3a3a3a;
    margin-bottom: 10px;
    border-radius: 3px;
    outline: none;
    padding: 0px 0px 5px 5px;
    background: #FBFBFB;
    border: 2px solid #E4E3E3;
    box-sizing: border-box;
  }
  
  #login-form-submit {
    width: 100%;
    padding: 7px;
    border: none;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    background-color: var(--green);
    cursor: pointer;
    outline: none;
  }

/*FOOTER*/
.footer {
    margin-right: 0%;
    margin-left: 0%;
    background-color: var(--black);
    padding:0.5rem 0rem 0.5rem 0rem;
}
.footer h5 {
    color: var(--white);
    text-align:center;
}


.headlines {
    background-color: (--light-gray);
}
a {
    text-decoration: none;
    color: var(--black);
}
/*Individual Headline Page*/
.articleTitle {
    padding: 10% 20% 2% 20%;
}
.articleTitle h4{
    text-decoration: underline; 
}
.articleTitle p {
    color: var(--dark-gray);
}
.articleTitle a {
    text-align:left;
}

.sources h4 {
    color: var(--green);
}

.sourceCard {
    background-color: var(--white);
    width: 25%;
    padding: 2rem 2rem 2rem 2rem;
    border-radius: 1rem;

}

.sources {
    display: flex;
    flex-direction: row; 
    justify-content:center;
    
}

.source1 {
    margin-right: 3%;
}

.votingButtons {
    display:flex;
    flex-direction:row; 
    justify-content:center; 
    width: 60%;
    margin:auto;
    margin-bottom: 3%
}
.vote {
    margin: 2rem;
}

.voting {
    text-align:center;
    margin-top: 5%;
    
}

input[type='text']{
  border: 1px solid var(--gray);
  border-radius: 5px;
  line-height: 1.4em;
  padding: 0.5rem 0.5rem;

}
input:focus {
    outline:none;
}
#reply {
  width: 100%;
  height: 5rem;
  box-sizing: border-box;
  border: 2px solid var(--gray);
  border-radius: 4px;
  background-color: var(--white);
}

.commentSection {
    margin:10% 20% 10% 20%;
}
.commentButton {
    float:right;
}

.commentContent {
    display: flex;
    flex-direction: row;
    padding-bottom: 2rem;
}
.commentContent a {
    color: var(--green);
    
}

.prevComments {
    margin-top: 20%;
    width: 100%;
}
.prevComment {
    padding-bottom: 2rem;
}
hr { 
    height: 1px;
    background-color: var(--gray);
    border: none;
}

.commentText {
    margin-left: 3rem;
    margin-right: 35%;

}

.arrows {
    display:flex; 
    flex-direction: column;
}

.bottomArrow {
    padding-top: 1rem;
}
.upDownVote {
    display:flex;
    flex-direction: row;
}
.score {
    padding-left: 1rem;
    margin: auto;
    color: var(--dark-gray);
}