:root {
    --white: #FBFBFB;
    --green: #1FAA91;
    --black: #041F1A;
}

.header {
    background-color: var(--white);
    width: 100%;
    margin: auto;
    
}

.title {
    color: var(--black);
    padding-top:0.8rem;
}

#first {
    color: var(--green);
    float: left;

}
.H {
    color: var(--green);
}

.buttons {
    float: right;
}

.login {
    background-color: var(--white);
    color: var(--green);
    text-align: center;
    border-radius: 10rem;
    font-family: 'Cabin', sans-serif;
    padding-top: 0.8rem;
    width: 8rem;
    height: 2rem;
    border:0.15rem solid var(--green);
    float: left;


}

.signup {
    background-color: var(--green);
    color: var(--white);
    text-align: center;
    font-family: 'Cabin', sans-serif;
    padding-top: 0.8rem;
    margin-left: 1rem;
    border-radius: 10rem;
    width: 8rem;
    height:2rem;
    border:0.15rem solid var(--green);
    float: right;
}
